.logos {
    display: flex;
    gap: 50px;
}

.logo {
    width: 100px;
    height: 100px;
}

.microsoft {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.red { background: #f25022; }
.green { background: #7fba00; }
.blue { background: #00a4ef; }
.yellow { background: #ffb900; }

